sass:
  html, body
    background: -webkit-linear-gradient(147deg, #f7ac91, #e6002d)
    background: linear-gradient(147deg, #f7ac91, #e6002d)
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    box-sizing: border-box

  body
    font-family: "Poppins", sans-serif
    height: 100vh
    margin: 0
    .error_display
      width: 100%
      max-width: 720px
      border: 2px solid white
      border-radius: 4px
      padding: 36px
      text-align: center
      h2
        text-align: center
        font-size: 24px
        font-weight: 400
        text-transform: uppercase
        margin: 0 auto
        color: #fff
        letter-spacing: 3px
        padding: 8px
      h3
        text-align: center
        font-size: 16px
        font-weight: 400
        text-transform: uppercase
        margin: 0 auto
        color: #fff
        letter-spacing: 1px
        padding-bottom: 24px
        padding-top: 8px
      .error_display_back_command
        text-align: center
        .error_display_back
          text-align: center
      button
        margin: 0 auto
        background-color: rgba(0, 0, 0, 0)
        border: 1px solid #fff
        color: #fff
        font-size: 16px
        padding: 10px 70px
        text-align: center
        text-decoration: none
        display: inline-block
        text-transform: uppercase
        -webkit-border-radius: 5px 5px 5px 5px
        border-radius: 5px 5px 5px 5px
        -webkit-transition: all 0.3s ease-in-out
        -moz-transition: all 0.3s ease-in-out
        -ms-transition: all 0.3s ease-in-out
        -o-transition: all 0.3s ease-in-out
        transition: all 0.3s ease-in-out
        &:hover
          background-color: #fff
          color: #e6002d
          cursor: pointer
        &:active
          -moz-transform: scale(0.95)
          -webkit-transform: scale(0.95)
          -o-transform: scale(0.95)
          -ms-transform: scale(0.95)
          transform: scale(0.95)

  .text
    fill: none
    stroke-width: 2
    stroke-linejoin: round
    stroke-dasharray: 70 330
    stroke-dashoffset: 0
    -webkit-animation: stroke 6s infinite linear
    animation: stroke 6s infinite linear
    font-size: 4em
    text-transform: uppercase
    &:nth-child(5n + 1)
      stroke: #fff
      -webkit-animation-delay: -1.2s
      animation-delay: -1.2s
    &:nth-child(5n + 2)
      stroke: #fff
      -webkit-animation-delay: -2.4s
      animation-delay: -2.4s
    &:nth-child(5n + 3)
      stroke: #e6002d
      -webkit-animation-delay: -3.6s
      animation-delay: -3.6s
    &:nth-child(5n + 4)
      stroke: #fff
      -webkit-animation-delay: -4.8s
      animation-delay: -4.8s
    &:nth-child(5n + 5)
      stroke: #fff
      -webkit-animation-delay: -6s
      animation-delay: -6s

  @-webkit-keyframes stroke
    100%
      stroke-dashoffset: -400


  @keyframes stroke
    100%
      stroke-dashoffset: -400
  
    
div.error_display
  div.error_display_animation
    svg viewBox="0 0 700 80"
      symbol id="s-text"
        text text-anchor="middle" x="50%" y="50%" dy=".35em" 403 ERROR 
      use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="text"
      use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="text"
      use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="text"
      use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="text"
      use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-text" class="text"

  div.error_display_description
    h2.error_display_subtitle FORBIDDEN
    h3.error_display_description 
     | 不正なアクセスです。
     br
     | もう一度やり直してください。

  div.error_display_back_command
    = link_to root_path do
      div.error_display_back
        button.error_display_back_button
          = t('back')
