<pre style="white-space: pre-wrap; overflow: hidden; font-size:12px">
プライバシーポリシー

workeasy株式会社（以下「弊社」といいます。）は新規事業アイデアに関する相談業務を実施するにあたり、貴社の秘密情報について 以下の事項を遵守することを誓約します。

第1条（秘密情報の定義）
 1. 本誓約書において「秘密情報」とは、本件業務に関連して知り得た、次の各号に示す一切の情報を意味します。
  (1)　本件業務遂行の事実、相談内容及び本誓約書の内容
  (2)　貴社及び貴社の顧客（顧客の顧客を含む）に関する個人情報
  (3)　貴社業務に関する技術上の情報、営業上の情報及び業務上の一切の情報
  
第2条（秘密保持）
 1. 弊社は、貴社の秘密情報を厳格に保持し、貴社の同意無しに弊社以外のいかなる第三者にも一切開示または漏洩しません。
 2. 弊社は、貴社の秘密情報を利用するに当たり、秘密管理に万全の注意を払うものとし、貴社の事前の書面による承諾を得ることなく秘密情報を複写、複製または改変しません。
  
第3条（使用目的）
 1. 弊社は、秘密情報を本件業務の履行以外の目的に使用しません。
  
第4条（損害賠償）
 1. 弊社は、本誓約書、貴社との合意事項に違反し、貴社に損害を与えた場合 には、貴社が被った損害を賠償する責任を負います。

第5条（第三者への提供）
 1. 弊社は、貴社の要求がある場合、弊社が業務上知り得た貴社の秘密情報の一切を全て貴社に返還または消去し、弊社の手元に一切の秘密情報を残存させないものとします。

以上

お問い合わせ窓口
workeasy株式会社
住所：〒810-0001 福岡県福岡市中央区天神2丁目3−36
info@workeasy.jp
担当：個人情報管理責任者
</pre>